<section class="messages">
  <div class="container">
    <div class="table">
      <div class="table-add">
        <button mat-button
                color="primary"
                (click)="onAdd()"
        >Add new message
        </button>
        <div class="example-container">
          <mat-form-field>
            <input matInput
                   placeholder="ID"
                   #idAdd
            >
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="Message"
                   #messageAdd
            >
          </mat-form-field>
        </div>
      </div>
      <div class="table-hd">
        <p class="table-id">ID</p>
        <p class="table-col">Message</p>
        <p class="table-col">Edit</p>
      </div>
      <app-details-messages
        *ngFor="let message of messages; let i = index"
        [detail]=message
        [index]=i
        [messages]=messages
      ></app-details-messages>
    </div>
  </div>
</section>
