<section class="messages">
  <div class="container">
    <div class="table">
      <div class="table-option">
        <button mat-button
                color="primary"
                (click)="addInitMessage()"
        >Add new message
        </button>
        <button mat-button
                color="primary"
                (click)="addInitStation()"
        >Add new station
        </button>
      </div>
      <div class="table-info" *ngIf="successMessage" style="display: flex">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip selected="true" color="primary">
            New message was added!
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="table-add"
           *ngIf="canAddStation || canAddMessage">
        <form class="example-container" #f="ngForm">
          <button mat-button
                  color="primary"
                  (click)="onAddMessage()"
                  type="submit"
                  *ngIf="canAddMessage"
          >Save message
          </button>
          <button mat-button
                  color="primary"
                  (click)="onAddStation()"
                  type="submit"
                  *ngIf="canAddStation"
          >Save station
          </button>
          <div class="input-box">
            <mat-form-field>
              <input matInput
                     placeholder="ID"
                     #idAdd="ngModel"
                     name="id-add"
                     [(ngModel)]="newId"
                     required
                     type="number"
              >
            </mat-form-field>
            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip *ngIf="idAdd.invalid && idAdd.dirty || f.submitted && idAdd.invalid" selected="true" color="warn">
                Please enter ID!
              </mat-chip>
              <mat-chip *ngIf="isUsedId" selected="true" color="warn">
                Your ID is currently in use!
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="input-box">
            <mat-form-field>
              <input matInput
                     placeholder="Message"
                     #messageAdd="ngModel"
                     [(ngModel)]="newMessage"
                     required
                     name="message-add"
                     type="text"
              >
            </mat-form-field>
            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip *ngIf="messageAdd.invalid && messageAdd.dirty || f.submitted && messageAdd.invalid" selected="true" color="warn">
               Please enter a message!
              </mat-chip>
            </mat-chip-list>
          </div>
        </form>
      </div>
      <div class="table-hd">
        <p class="table-id">ID</p>
        <p class="table-col">Message/Station</p>
        <p class="table-col">Date created</p>
        <p class="table-col">Last updated</p>
        <p class="table-col">Edit</p>
      </div>
      <app-details-messages
        *ngFor="let message of messages; let i = index"
        [detail]=message
        [index]=i
        [messages]=messages
      ></app-details-messages>
      <app-stations
        *ngFor="let station of stations; let i = index"
        [detail]=station
        [index]=i
        [stations]=stations
      >
      </app-stations>
    </div>
  </div>
</section>
