<span class="table-id">{{index}}</span>
<span class="table-col" *ngIf="!isEdited">{{detail.message}}</span>
<span *ngIf="isEdited" class="table-col table-input">
  <!--<input-->
    <!--type="text"-->
    <!--name="detail-message"-->
    <!--placeholder="{{detail.message}}"-->
    <!--(input)="onNameChange(name.value)"-->
    <!--#name-->
  <!--&gt;-->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput
             #name
             placeholder="New message"
             (input)="onNameChange(name.value)"
      >
    </mat-form-field>
  </form>
</span>
<span class="table-col edit-col">
  <button
    mat-raised-button
    ngClass="{{!isEdited ? 'mat-primary' : ''}}"
    (click)="onEdit()"> {{!isEdited ? 'Edit' : 'Cancel'}}
  </button>
  <button *ngIf="canSave"
          mat-raised-button color="warn"
          (click)="onSave()">Save
  </button>
</span>





