<header>
  <div class="container header-container">
    <div class="logo-box">
      <img src="../../../assets/images/logo.png" alt="">
    </div>
    <div class="hd-title">
      <h1>Welcome to Virgin Trains!</h1>
    </div>
  </div>
</header>
<nav>
  <div class="container nav-box">
    <ul>
      <li>
        <a routerLink="/messages"
           routerLinkActive="active"
        >Message</a>
      </li>
      <li *ngIf="!isLogged">
        <a
          routerLink="/signin"
          routerLinkActive="active">Log in</a>
      </li>
      <li *ngIf="!isLogged">
        <a
          routerLink="/signup"
          routerLinkActive="active">Sign up</a>
      </li>
      <li *ngIf="isLogged">
        <a
          style="cursor: pointer;"
          type="button"
          (click)="onLogout()">
          Log out</a></li>
    </ul>
  </div>
</nav>

