@import "../../../variables";

header {
  background-color: $c-gray;

  .header-container {
    display: flex;
  }
  .hd-title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav {
  background-color: $c-blue;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;

    a {
      color: $c-gray;
      padding: 15px;
      display: block;
      text-decoration: none;
      
      &.active,
      &:hover {
        background-color: $c-blue-dark;
      }
    }
  }
}
